<a href="{{url}}" class="{{post_class}}">
    <div class="sticky-note {{#has index="nth:3"}}sticky-note-one{{else}}{{#has number="nth:3"}}sticky-note-three{{else}}sticky-note-two{{/has}}{{/has}}" contenteditable="false">
        <img srcset="{{img_url feature_image size=" s"}} 400w, {{img_url feature_image size="m" }} 750w, {{img_url
            feature_image size="l" }} 960w, {{img_url feature_image size="xl" }} 1140w, {{img_url feature_image
            size="xxl" }} 1920w" sizes="600px" src="{{img_url feature_image size=" l"}}" alt="{{title}}" loading="lazy">
        {{title}}
        {{#if excerpt}}
    <div class="post-excerpt">
        {{excerpt words="15"}} ...
    </div>
    {{/if}}
    <footer class="post-footer">
        <span class="post-more">Weiterlesen</span>
    </footer>
    </div>
</a>
