<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    {{!-- Scripts to let focus-within in all browsers work --}}
    <script>
        function focusWithin(e, t) {
            var n = Object(t).className, r = Object(t).attr || "focus-within", a = Object(t).force, c = [];
            try {
                if (e.querySelector(":focus-within"), !a)
                    return i
            } catch (e) { }
            function s() {
                for (var t; t = c.pop();)
                    r && t.removeAttribute(r), n && t.classList.remove(n);
                var a = e.activeElement;
                if (!/^(#document|HTML|BODY)$/.test(Object(a).nodeName))
                    for (; a && 1 === a.nodeType;)
                        r && a.setAttribute(r, ""), n && a.classList.add(n), c.push(a), a = a.parentNode
            }

            function i() {
                e.addEventListener("focus", s, !0), e.addEventListener("blur", s, !0)
            }
            return function t() {
                /m/.test(e.readyState) ? (e.removeEventListener("readystatechange", t), i()) : e.addEventListener("readystatechange", t)
            }(), i
        }
        focusWithin(document);
    </script>

    {{ghost_head}}
</head>
<body class="{{body_class}}{{{block " body_class"}}} is-head-left-logo{{#match @custom.body_font "=" "Elegant serif" }} has-serif-body{{/match}}">
    <div id="header">
        <div class="menu-icon" onclick="mobileNavClick();">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <a href="{{@site.url}}"><img src="{{@site.logo}}" alt="Logo"></a>
            <a href="{{@site.url}}"><img src="{{@site.cover_image}}" alt="{{@site.title}}"></a>
        </div>
        {{navigation}}
    </div>

    <div class="content" style="z-index: -1;">
        {{{body}}}
    </div>

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <div class="row">
                <div class="col l3">
                    <p>Gustav-Steinacker-Grundschule Buttelstedt</p>
                    <hr>
                    <p>Kreis Weimarer Land </p>
                    <p>Volkmarsener Platz 1</p>
                    <p>99439 Buttelstedt</p>
                    <p>Tel.: 036451/60406</p>
                    <p>Tel. (Hort): 0151/543 830 86</p>
                    <p>Fax: 036451/60425</p>
                    <p>E-Mail: gs-buttelstedt@schulen.weimarerland.de</p>
                </div>

            </div>
            <br>
            <div class="gh-copyright">
                {{@site.title}} © {{date format="YYYY"}}
                <div>
                <br>
                <span class="right"> <a href="{{@site.url}}/datenschutz">Datenschutz</a>&nbsp;•&nbsp; <a href="{{@site.url}}/impressum">Impressum</a> </span>
            </div>
            </div>
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>
            
        </div>
        </div>
    </footer>

    </div>

    {{#is "post, page"}}
    {{> "pswp"}}
    {{/is}}

    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}

</body>

</html>